
:root {
  /* Mudar o nome para o nome da cor para reutilizarmos  */
  --var-azul-escuro: #030028;
  --var-roxo-medio: #2727A3;
}
@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Barlow-Regular.ttf);
}

@font-face {
  font-family: 'Dune';
  src: url(./assets/fonts/Dune_Rise.ttf);
}



*{
  margin: 0;
}
h2 {
  font-family: 'Dune';
  color: var(--var-roxo-medio); 
  font-size: 3rem;
  align-self: center;
  justify-self: center;  
}

span{
  font-family: "Inter";
}

/*#region HEADER*/
header {
  padding: 2% 1%;
  display: flex;
  align-items: center;
  height: 20px;
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif ;
}

.header_nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.header_nav ul {
  width: 35%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.header_nav a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.button_cadlog {
  background: #E9501B;
  border: none;
  padding: 10px 40px;
  border-radius: 16px;
  color: #fff !important;
}
/*#endregion*/


/*#region SEÇÃO_BANNER*/

.banner {
  /* background: url(assets/institucional/BannerInicio.png) center/cover no-repeat; */
  height: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-color: #030028; */

}
.banner img{
  width: 100%;

}

/*#endregion*/


section {
  height: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid;
}

.centraliza_titulo{
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: center;
  /* font-size: 1.5rem; */
  margin: 20px;
  font-family: "Dune";
  color: #2727A3;
  /* background-color: yellowgreen; */

}
#nosso_produto{
  padding-top: 2rem;

}


/*#region SEÇÃO_NOSSO_PRODUTO*/

#nosso_produto{
  height: 650px;
  display: flex;
}

#nosso_produto .quadros{
  display: grid;
  grid-template-columns: repeat(24, 24fr) ;
  grid-template-rows: repeat(10, 10%);
  height: 100%;
  width: 90%;
  color: white ;
  /* background-color: #E9501B; */
  /* align-items: center; */
  /* justify-content: space-around;  */
}

#nosso_produto .quadros #quadro1{
  /* height: 100%; */
  /* width: 30%; */ 
  grid-area:  2 /2 / 9 / 7;

  background-color: var(--var-azul-escuro);
  
}
#nosso_produto .quadros #quadro2{
  /* height: 100%; */
  /* width: 30%; */ 
  grid-area:  2 / 8 /9/ 13;

  background-color: var(--var-azul-escuro);

}
#nosso_produto .quadros #quadro3{
  /* height: 100%; */
  /* width: 30%; */ 
  grid-area:  2/14/9/19;
  background-color: var(--var-azul-escuro);

}

#nosso_produto .quadros #quadro4{
  /* height: 100%; */
  /* width: 30%; */ 
  grid-area:  2/20/9/25;
  background-color: var(--var-azul-escuro);

}

#nosso_produto .quadro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 10px; */

  border-radius: 15px;

}

#nosso_produto .quadro .imagem{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* height: 70%; */
}
#nosso_produto .quadro img{
  width: 90%;
  height: 60%;
}

#nosso_produto .quadro .imagem img{
  width: 100%;
  height: 75%;
}

#nosso_produto .quadro .texto{
  display: flex;
  /* align-items: center; */
  font-size: large;
  justify-content: center;
  /* width: 80%; */
  padding: 5%;
  /* height: 30%; */
}

/*#endregion*/


/*#region SEÇÃO_SOBRE_NÓS*/

#sobre_nos{
  font-family:"Inter" ;
  
  height: fit-content;

}

#separa_texto{

  display: flex;
  height: auto;
  /* background-color: aquamarine; */
  height: 400px;
  /* width: 90%; */
  
  align-items: center;
}
.separacao{
  /* background-color: #E9501B; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}
.separacao span{
  padding: 10%;

  font-size: large;
}
.linha{
  width: 1%;
  height: 100%;
  background-color: black;
}


/* ---------------------------- NOSSA EQUIPE ---------------------------------*/


.fotos_equipe{
    display: block;
    align-items: center;
    width: 90%;
    height: auto;
    /* background-color: #E9501B; */
    margin-top: 5%;
    
}

.cards_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 0px;
    padding: 10px;

}

.row {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-bottom: 70px;

}

.container {
    position: relative;
    width: 300px;
    height: 310px;
    border-radius: 10px;
    /* background-color: #E9501B; */

}

.container:hover .rotate {
    transform: rotateY(180deg);

}

.rotate {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: 0.6s;

}

.frente,
.verso {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 3px 3px 10px rgb(0, 0, 0);
    backface-visibility: hidden;

}

.frente {
    background-color: rgb(0, 34, 255);
    background-size: cover;

}

.verso {
    background-color: #1c66a6;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    
}

.nome {
    font-size: larger;

}

#gustavo {
    background-image: url('../assets/institucional/gustavo.png') ;
    
}
    
#felipe {
    background-image: url('../assets/institucional/felipe.png');
    
}
    
#euclides {
    background-image: url('../assets/institucional/euclides.png');
    
}
    
#joao {
    background-image: url('../assets/institucional/dorl.png');
    
}
    
#lays {
    background-image: url('../assets/institucional/lays.png');
    
}
    
#maria {
    background-image: url('../assets/institucional/maria_eduarda.png');
    
}

/*#endregion*/

/*#region SEÇÃO_NOSSOS_OBJETIVOS*/
#nossos_objetivos {
  /* height: fit-content; */
  font-family:"Inter" ;

}

#nossos_objetivos .quadros{
  display: grid;
  grid-template-columns: repeat(21, 21fr) ;
  grid-template-rows: repeat(10, 10%);
  height: 100%;
  width: 90%;
  color: white ;
  /* background-color: #E9501B; */
  /* align-items: center; */
  /* justify-content: space-around;  */
}

#nossos_objetivos .quadros .titulo{
 font-size: 2rem;
 margin-top: 3%;
}

#nossos_objetivos .quadros span{
 font-size: 1.2rem;
}
#nossos_objetivos .quadros .quadro{
  /* background-color: var(--var-azul-escuro); */
  color: black;
}


#nossos_objetivos .quadros #quadro1{
  /* height: 100%; */
  /* width: 30%; */ 
  grid-area:  2 /2 / 10 / 7;

  /* background-color: var(--var-azul-escuro); */

}
#nossos_objetivos .quadros #quadro2{
  /* height: 100%; */
  /* width: 30%; */ 
  grid-area:  2 / 9 /10/ 14;

  /* background-color: var(--var-azul-escuro); */

}
#nossos_objetivos .quadros #quadro3{
  /* height: 100%; */
  /* width: 30%; */ 
  grid-area:  2/16/10/21;
  /* background-color: var(--var-azul-escuro); */

}


#nossos_objetivos .quadro{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  text-align: center;
  gap: 10%;
  

  border-radius: 15px;

}

#nossos_objetivos .quadro img{
  /* width: 70%; */
  height: 40%;
  max-height: 205px;
  max-width: 200px;
}

#nossos_objetivos .quadro .texto{
  display: flex;
  /* align-items: center; */
  font-size: large;
  justify-content: center;
  /* width: 80%; */
  padding-right: 5%;
  padding-left: 5%;
  height: 20%;
}


    



/*#endregion*/

/*#region SEÇÃO_ADQUIRA_NOSSOS_PRODUTOS*/


#adquira_nosso_produto{
  display: flex;
  font-family:"Inter" ;

}

#adquira_nosso_produto .clique_aqui h2{
  font-family: "Inter";
  color: black;

}
#adquira_nosso_produto .separacao{

  /* background-color: #E9501B; */
  display: flex;
  flex-direction: row;
  height: 80%;
}
#adquira_nosso_produto .imagem{
  width: 60%;
  
  /* background-color: #E9501B; */
}

#adquira_nosso_produto img{
  width: 100%;
}

#adquira_nosso_produto .clique_aqui{
  width: 30%;
  height: 100%;
  /* background-color: #030028; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;

  gap: 5%;
}

#adquira_nosso_produto button{
  width: 60%;
  height: 4rem;
  border-radius: 10px;
  border: 1px;

  background-color: #E9501B;
  color: #fff;
  font-size: 1.7rem;
  cursor: pointer;
}

/*#endregion*/

footer{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  color: #fff;
  background-color: #030028;
  font-family:"Inter" ;

}

footer h3{
  margin-left: 5%;
  margin-top: 1%;
  font-size: 1.5rem;
  font-family: "Dune";
}

footer .alinhar{

  display: flex;
  flex-direction: row;
  height: 90%;
  /* background-color: #E9501B; */
  align-items: center;
  gap: 30%;
  padding-left: 6%;
  /* justify-content: space-around; */
  /* padding: 50px 50px 50px 10px; */
}

footer .alinha_footer{
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  height: 50%;
  line-height: 1.5;
  /* background-color: antiquewhite; */
}