
:root {
  --var-corcard: #030028;
}
@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Barlow-Regular.ttf);
}

@font-face {
  font-family: 'Dune';
  src: url(./assets/fonts/Dune_Rise.ttf);
}

*{
  margin: 0;
}
 
body{ /* RECOMENDADO CONFIGURAR O GRID NO BODY*/
  display: grid;
  grid-column: repeat(12, 1fr);

}